{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'jitly/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'jitly/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'jitly/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'jitly/https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'%}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'jitly/css/landing-page.min.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <a class="btn btn-primary" href="#">Sign In</a>
    </div>
  </nav>
  <!----##################### 주요처리부분 ############################################################-->
  <!----############################################################################################-->
  <!----############################################################################################-->
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Jitly makes your life easy!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
               
          <form id="url_form" method="POST" action='/'>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                    {% csrf_token %}
                    <!--보안관련 설정-->
                <input type="text" id="input_box" name="input_url" class="form-control form-control-lg" placeholder="Submit URL you wan to shorten...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" id="submit_button" class="btn btn-block btn-lg btn-primary" >Create!</button>
                <input type="hidden" id="hidden_box" name="hidden_box" value="empty"/>
                  </div>
                  <div class="form-row"></div>
              <div  class="col-12 col-md-12">
                    <button type="hidden" id="try_agian" class="btn btn-block btn-lg btn-primary" >Try again!</button>
              </div>
          </form>

          {% if a %}
            <!-- 전송해서 처리된 결과가 있을 경우-->
            <script>
                // shorten된 결과를 input box에 출력하는 과정
                var x="{{a}}";
                var result=document.getElementById('input_box');
                result.value='/'+x;
    
                var copy=document.getElementById('submit_button');
                copy.innerHTML="Copy!"
                copy.setAttribute("class","btn btn-block btn-lg btn-success")
    
                
                // create 버튼이 submit 기능을 하지 못하게 하는 과정
                copy.setAttribute("type","button");
                
                copy.onclick=function(){
                    // 클립보드에 복사하는 과정
                    alert('해당 URL을 복사 합니다. . .');
                    var data=x;
                    var obj = document.getElementById('input_box');
                    obj.select(); //인풋 컨트롤의 내용 전체 선택
                    document.execCommand("copy"); //복사
                    obj.setSelectionRange(0, 0); //선택영역 초기화
    
                    // copy.onclick=null; <-이벤트를 제거
                }
         
    
            </script>
            {%else%}
            <script>
                var result=document.getElementById('input_box');
                var submit=document.getElementById('submit_button');
                submit.onclick=function(){
                    var re = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
                    if (!re.test(result.value)) { 
                        alert("유효하지 않은 URL 입니다. . .");
                        return false;
                        var hidden=document.getElementById('hidden_box');
                        hidden.value="wrong_url";
                    }
                }
               
            </script>
            {%endif%}
  <!----##################### 주요처리부분 END ############################################################-->
  <!----############################################################################################-->
  <!----############################################################################################-->
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Bootstrap 4 Ready</h3>
            <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

     <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/jitly/img/bg-showcase-1.jpg' );"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/jitly/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Updated For Bootstrap 4</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/jitly/img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
        </div>
      </div>
    </div>
  </section>

  

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jitly/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'jitly/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
